html, body{width:100%; height:100%; padding:0px; margin:0px}

* { 
	box-sizing:  border-box;
}

body{ 
	border: 40px white solid;
	background: gold;
	height:100vh;
	
}

#corps {
	background: gold;
	padding: 7em;

}

.uk-padding {
	margin: -50px;
}


#vertical-menu {
	transform: rotate(90deg);
	transform-origin: left top 0;
	float: right;
	position: relative;
	margin: 15em -15em;
}

#horizontal-menu {
	z-index: 1;
}

#elem {
	margin : 5em 5em;
}

/* retrait ombre par défaut autour carte */
.uk-card-default {
	box-shadow: none;
	/*;*/
}

.mycards .uk-card:nth-child(even) {border: red 2px solid }
.mycards .uk-card:nth-child(odd) {border: blue 2px solid }
 






